body {
  background-color: rgb(82, 28, 28);
}
img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background-color: cadetblue;
  text-align: center;
  text-decoration: chocolate;
  font-style: italic;
}
